{% extends 'base.html' %}

{% block content %}
<div class="mainContent">
		<div class="content">
			<article class="topcontent">
				<header>
					<h2>Computer Inventory Management</h2>
				</header>
				
				<content>
					Computer inventory management is the process of automatically discovering, tracking, and centrally managing hardware IT assets. It helps you keep your IT inventory up to date and allows you to track assets throughout their life cycle.
				</content>

			</article>

			<article class="bottomcontent">
				<header>
					<h2>Track Assets</h2>
				</header>
				
				<content>
					The first step to gaining control of your Computer inventory is establishing an up-to-date list of your hardware and software assets. Manually tracking IT assets on spreadsheets is time-consuming and prone to errors
				</content>
			</article>
		</div>
	</div>

	<aside class="topsidebar">
		<article>
			<h2>IP Address</h2>
			<p>Lets you store the IP Address and then view the computer having specific IP.</p>
		</article>
	</aside>

	<aside class="middlesidebar">
		<article>
			<h2>Serial Key</h2>
			<p>Store the computers serial key. You can search serial key and find the location.</p>
		</article>
	</aside>
{% endblock %}